.Projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px 20px;
    margin: 23px;
}

.Projects__Card {
    background-color: rgb(238, 238, 238);
    width: 100%;
    border-radius: 16px;
    box-shadow: 2px 2px 5px #999;
}

.Projects__Card__Image img{
    width: 100%;
    border-radius: 9px;
}

.Projects__Card__Fotter__Button {
    background-color: orange;
    border: 5px solid #dee2e6;
    border-radius: 5rem;
    border-color: #dee2e6;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
    margin: 5px;
}
.Projects__Card__Fotter__Button:hover {
    color: #d54d00;
}

.Projects__Card__Footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
    padding-top:20px;
}

@media(min-width: 576px){
    .Projects {
        grid-template-columns: repeat(3, 1fr);
    }
}